body{
    background-color: #09092B;
}
.skin-blue .main-header .navbar{
    background-color: #09092B;
}

.skin-blue .main-header .logo{
    background-color: #070720;
}

.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side{
    background-color: #38475F;
}

.skin-blue .sidebar-menu > li:hover > a,
.skin-blue .sidebar-menu > li.active > a {
    color: #ffffff;
    background: #09092b;
    border-left-color: #ffffff;
}

.skin-black .sidebar-menu > li.header {
    color: #4b646f;
    background: #070720;
}

/*
.main-header {
    position: fixed;
    width: 100%;
}
*/

.content-wrapper, .right-side{
    background-color: #f4f8fb;
}

.nav-tabs-custom > .nav-tabs > li.active{
    border-top-color: #2a2a2a;
}

.control-sidebar-dark, .control-sidebar-dark + .control-sidebar-bg{
    background-color: #A6BBD4;
}

table.control-sidebar-striped{
    margin: 4px;
}

table.control-sidebar-striped > tbody > tr > td{
    border: 0;
    color: #111;
}

body.login-page, body.register-page{
    background-color: #09092B;
}

table.control-sidebar-striped > tbody > tr:nth-child(odd) > td{
    background-color: #9ab2cf;
}

.btn-player-select {
    font-size: 6px;
    padding: 0px 4px;
}

.btn-black{
    background-color: #53A71D;
    font-size: 13px;
    border: #53A71D solid 1px !important;
    color: #fff !important;
}

.btn-black:hover{
    background-color: #3f8313 !important;
    border: #3f8313 solid 1px !important;
    color: #fff !important;
}

.btn-medium{
    background-color: #38475F;
    font-size: 13px;
    border: #38475F solid 1px !important;
    color: #fff !important;
}

.main-header .logo{
    line-height: 47px !important;
}

.sidebar-mini.sidebar-collapse .main-header .logo > .logo-mini {
    margin-left: -18px !important;
    margin-right: -12px !important;
}

.main-header a.logo:hover{
    background-color: #070720 !important;
}

.btn-medium:hover{
    background-color: #09092B;
    font-size: 13px;
    border: #09092B solid 1px !important;
    color: #fff !important;
}

.ad {
    background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
    bottom: 0;
    color: #fff;
    display: none;
    left: 0;
    position: fixed;
    text-align: center;
    width: 100%;
}
#close-ad {
    cursor: pointer;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}

.btn-filter.active{
    color: #ffffff;
    background-color: #09092B;
    border-color: #09092B;
}

.box.box-success {
    border-top-color: #09092B;
}
.small-icon{
    width: 22px;
}

.bottom-ads{
    text-align: center;
}

div.player-profile-summary > div{
    padding-top: 4px;
    padding-bottom: 4px;

}

.ps-player-widget{
    border: #38475F solid 3px;
    background-color: #fff; padding: 0;
}

.frm-right-slider{
    margin: 10px;
    color: #333;
    font-weight: normal;
}

.ipt-right-slider{
    color: #333;
    font-weight: normal;
}

.lbl-right-slider{
    clear: both;
    font-weight: normal;
    width: 100%;
}

.cmp-wgt-row{
    text-align: center;
    text-transform: uppercase;
}
.cmp-wgt-pname{
    font-size: 18px;
    font-weight: bold;
    background-color: #38475F;
    color: #ffffff;
}

.cmp-wgt-fvalue{
    font-size: 14px;
    color: #444444;
}

.cmp-wgt-tname{
    font-size: 13px;
}
.cmp-wgt-sname{
    font-size: 12px;
}
.cmp-wgt-svalue{
    font-size: 16px;
    font-weight: bold;
}

.cmp-wgt-lname{
    font-size: 13px;
    font-weight: bold;
}
.cmp-wgt-remove{
    color: #FF0000;
    font-size: 24px;
}

.cmp-wgt-ph{
    margin: 0px auto;
    height: 120px;
    max-width: 120px;
}

.control-sidebar-bg{
    height: auto;
    border-left: 1px solid rgb(204, 204, 204);
    box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.6);
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: #f6faf5;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #38475F;
    border-color: #38475F;
    color: #fff;
    cursor: default;
    z-index: 2;
}

.navbar-nav > .user-menu > .dropdown-menu > .user-footer{
    background-color: #A6BBD4;
}

.main-footer {
    background: #09092B none repeat scroll 0 0;
    border-top: 0px;
    color: #fff;
    padding: 15px;
}

.cteam-player-ftr{
    background-color: #38475F;
    padding: 10px;
}

.cteam-player-msg{
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    margin: 6px;
}

.msg-info{
    color: #0000ff;
}

.msg-error{
    color: #FF0000;
}

.cteam-player-ftr .title{
    font-size: 14px;
    color: #fff;
    font-weight: bold;
}

.cteam-player-ftr label{
    font-weight: normal;
}

.rgt-sldr-frm-ipt{
    height: 26px;
    padding: 2px;
}

table.cteam-player-list{
    width: 100%;
    background-color: #38475F;
    /*border-spacing: 1px;*/
    border-collapse: separate;
    margin-top: 1px;
}
table.cteam-player-list td,
table.cteam-player-list th{
    padding: 2px;
}
table.cteam-player-list td{
    color: #222;
    background-color: #e4ecf6;
}

table.cteam-player-list tr:nth-child(odd) > td{
    background-color: #F6FAF5;
}

table.cteam-player-list th{

}

a.lnk-blue{
    color: #0178bc;
}

section.left-counter{
    padding: 0px 30px;
    color: #fff;
}

section.left-counter div.league{
    margin-top: 10px;
}

section.left-counter h3{
    font-size: 14px;
    font-weight: bold;
    margin: 0px;
}
section.left-counter .left-match-counter{
    background-color: #000; color: #D49306; font-size: 20px; text-align: center; border: #fff solid 2px;
}

.login-logo, .register-logo{
    margin-bottom: 10px;
}

.btn-player-stat-add{
    padding: 0 !important;
    width: 100%;
    font-size: 22px;
    font-weight: bold;;
    margin-top: 6px;
}

table.tbl-player-stat{
    margin: 0 !important;
}
table.tbl-player-stat td{
    text-align: center;
    padding: 0 !important;
    border: 0 !important;
}

/* #### Mobile Phones Portrait or Landscape #### */
@media screen and (max-device-width: 640px){
    .bottom-ads img{
        height: 50px;
    }
    .mobile-hidden{
        display: none;
    }
}

/* #### iPhone 4+ Portrait or Landscape #### */
@media screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2){
    /* some CSS here */
    .bottom-ads img{
        height: 50px;
    }
    .mobile-hidden{
        display: none;
    }
}
